<%= form_with(model: obra) do |form| %>
  <% if obra.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(obra.errors.count, "error") %> prohibited this obra from being saved:</h2>

      <ul>
        <% obra.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :fecha_inicio, style: "display: block" %>
    <%= form.date_field :fecha_inicio %>
  </div>

  <div>
    <%= form.label :fecha_fin, style: "display: block" %>
    <%= form.date_field :fecha_fin %>
  </div>

  <div>
    <%= form.label :costo, style: "display: block" %>
    <%= form.number_field :costo %>
  </div>

  <div>
    <%= form.label :calle, style: "display: block" %>
    <%= form.text_field :calle %>
  </div>

  <div>
    <%= form.label :numero, style: "display: block" %>
    <%= form.text_field :numero %>
  </div>

  <div>
    <%= form.label :ciudad, style: "display: block" %>
    <%= form.text_field :ciudad %>
  </div>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.text_field :estado %>
  </div>

  <div>
    <%= form.label :codigo_postal, style: "display: block" %>
    <%= form.text_field :codigo_postal %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
