<div id="<%= dom_id obra %>">
  <p>
    <strong>Nombre:</strong>
    <%= obra.nombre %>
  </p>

  <p>
    <strong>Fecha inicio:</strong>
    <%= obra.fecha_inicio %>
  </p>

  <p>
    <strong>Fecha fin:</strong>
    <%= obra.fecha_fin %>
  </p>

  <p>
    <strong>Costo:</strong>
    <%= obra.costo %>
  </p>

  <p>
    <strong>Calle:</strong>
    <%= obra.calle %>
  </p>

  <p>
    <strong>Numero:</strong>
    <%= obra.numero %>
  </p>

  <p>
    <strong>Ciudad:</strong>
    <%= obra.ciudad %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= obra.estado %>
  </p>

  <p>
    <strong>Codigo postal:</strong>
    <%= obra.codigo_postal %>
  </p>

</div>
