<p style="color: green"><%= notice %></p>

<%= render @materials_has_obra %>

<div>
  <%= link_to "Edit this materials has obra", edit_materials_has_obra_path(@materials_has_obra) %> |
  <%= link_to "Back to materials has obras", materials_has_obras_path %>

  <%= button_to "Destroy this materials has obra", @materials_has_obra, method: :delete %>
</div>
