<div id="<%= dom_id material %>">
  <p>
    <strong>Nombre:</strong>
    <%= material.nombre %>
  </p>

  <p>
    <strong>Descripcion:</strong>
    <%= material.descripcion %>
  </p>

  <p>
    <strong>Unidad medida:</strong>
    <%= material.unidad_medida %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= material.category_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= material.brand_id %>
  </p>

</div>
